.success {
    
    background: rgb(2,0,36);
    background: linear-gradient(to right, rgba(255,0,0,0), #0088ff);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(23, 147, 204);
    
}

.primary {
    background: rgb(2,0,36);
    background: linear-gradient(to right, rgba(255,0,0,0), #0088ff);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(23, 147, 204);
    
}

.error {
    background: rgb(2,0,36);
    background: linear-gradient(to right, rgba(255,0,0,0), #0088ff);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(23, 147, 204);
    
}

.police {
    background: rgb(2,0,36);
    background: linear-gradient(to right, rgba(255,0,0,0), #0088ff);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(23, 147, 204);
    
}

.ambulance {
    background: rgb(2,0,36);
    background: linear-gradient(to right, rgba(255,0,0,0), #0088ff);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(23, 147, 204);
    
}